<html >
<head>
    <title>AngularExample</title>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.js"></script>

    <%= csrf_meta_tags %>

</head>

<body>

<p id="notice"><%= notice %></p>



  
  
  
<h1>Products</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Cost</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.cost %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% if product.availablity>0 %>
        <td><%= form_with(url: carts_path, method: "post" )  do |form| %>
         <%= form.hidden_field :quantity, value: 1 %>
        <%= form.hidden_field :Product_id, value: product.id %>
        <%= form.submit("Add to Cart") %></td>
   	<% end %>
   	<% else %>
   	<td><%= "Unavailable" %></td>
   	<% end %>

      </tr>
    <% end %>
  </tbody>
</table>

<br>
<!-- div id="cart">
<%= render template: 'products/new' %>
<%= @message_eg %>
</div-->



<%= link_to 'View Cart', carts_path %>

</body>
</html>
